/*         /*body{
            background: linear-gradient(pink,grey);
        }
        
        #container{
            border: 1px solid grey;
            width: 100px;
            height: 100px;
            background-color: white;
        }
        /*
        h1,h3{
            height:50%;
            width: 50%;
            background-color: aliceblue;
            justify-content: center;
            text-align: center;
        }
        
        h1{
            justify-content: center;
            text-align: center;
        }

        /*
        #lower,#add{
            height:auto;
            width: auto;
            background-color: blue;
            font-size: medium;
            color:antiquewhite;
        }
        
        #container{
            border: 1px solid grey;
            margin:10px;
            padding: 15%;
            height: 500px;
            width: 500px;
            background-color: black;
        }
        h1{
            color:antiquewhite;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
        }
        #h{
            color: green;
            font-size: 100px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-ser;
            text-align: center;
        }
        */
        /*
        #container{
            border: 1px solid black;
            margin:10px;
            padding: 15%;
            height: 500px;
            width: 500px;
            background-color: grey;
        }
        button{
            justify-content: center;
            text-align: center;
            border: 1px dotted black;
            padding: 2%;
            cursor:pointer;
            outline: none;

        }
        p{
            font-weight: 15%;
            font-size: x-large;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        #seconds, #tens{
            font-size:2em;
          }
          */
/*
        .container{
            background-color: rga(233,200,155);
        }

        .circle{
            height: 200px;
            width:200px;
            border-radius: 100px;
            border: 1px dashed blue; 
            color: darkgoldenrod;
            background-color: aqua;
        }

        .square{
            height: 200px;
            width:200px;
            border-radius: 10px;
            border: 1px dashed blue; 
            color: darkblue;
            background-color: lightcoral;
        }

        .rect{
            height: 200px;
            width:500px;
            border-radius: 10px;
            border: 1px dashed blue; 
            color: darkgoldenrod;
            background-color: chocolate;
        }

        .tri{
            height: 0;
            width:0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid gray;
           /* border: 1px dashed blue; 
            margin: 2rem;
            color: darkgoldenrod;
            background-color: aqua;
        */
/*        }
        .h{
            padding: 10%;
            font-size: x-large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: goldenrod;
            background-color: rgb(233, 222, 212);
        }
*/
/*
.link{
    list-style: none;
    display: flex;
    height:0;
    /*overflow: auto;
    transition: var(--transition);
}*/
/*
li{
    margin: 0;
    padding: 1rem;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
/*
:root {
   dark shades of primary color*/
   /*
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
   primary/main color 
  --clr-primary-5: hsl(205, 78%, 60%);
   lighter shades of primary color 
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings 
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs 
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes 

/* section 
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
*/
/*
=============== 
Navbar
===============

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
} */
/*
body {

  font-family: "Montserrat", sans-serif;
  color: #454545;
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
  background-image: url('bkgd2.png');
}
.page {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}
.ball, .button {
  margin: 0 auto;
}
.answer {
  position:absolute;
  width:14%;
  top:50%;
  left:50%;
  margin-top:-60px;
  margin-left:-65px;
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #222;
  text-transform: uppercase;
  text-align: center;
}

#questionButton {
  font: 26px 'Montserrat', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: none;
  color: #f8f8f8;
  background-color: #f16059;
  padding: 10px 75px;
  display: block;
  margin: 0 auto;
}

header {
  padding-top: 0.25em;
  text-align: center;
}
header span {
  font-size: 60px;
  color: #f16059;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

footer p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
Footer
*/
/*
.container{
  background-image: linear-gradient(violet,pink);

}

label{
  text-align: center;
  align-self: auto;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.custmername{
  color: darkblue;
  background-color: aliceblue;
  border-radius: 10px;
  width:auto;
  height:auto;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.randomize{
 cursor: pointer;
 font-size: large;
 border-radius: 10px;
 padding: 10px;
 border: 1px dotted pink;
 margin: auto;
 color:chocolate;
}
 
btn:active {
  color: blueviolet;
}

.h{
  background-color: bisque;
  color: blue;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  visibility: hidden;
}
.us, 
.uk {
  background-color:burlywood;
}
*/
/*
#container{
  align-items: center;
  background-color: black;
  font-size: 100px;
  text-align: center;
  justify-content: center;
  color: green;
  height: fill;
  width: fill;
  border: 3px solid yellow;
  border-radius: 10px;
}

.btn{
  border: 1px solid grey;
  border-radius: 10px;
  color: blue;
  background-color: lightblue;
  font-size: x-large;
  cursor: pointer;
}

#showTime{
  font-size: 100px;
  color: yellowgreen;
   
}
.mi{
  color: greenyellow;
}
.hr{
  color: darkmagenta;
}
.se{
  color: darkkhaki;
}
*/
/* 
#gameDiv{
  border: 3px solid gray;
  border-radius: 10px;
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  font-family: 'brush Script MT', cursive;
}

#playerText{
  color: blue;
}
#computerText{
  color: red;
}

.btn{
  border: 1px solid gray;
  border-radius: 20px;
  color: yellowgreen;
  font-size: x-large;
  line-height: 30px;
  width: 150px;
}

 */

.head{
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1508919801845-fc2ae1bc2a28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1nfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  display: -webkit-inline-flex;
  display: inherit;
  display: wrap;
  color: yellow;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid grey;
  border-radius: 10px; 
  padding: 10px;
}
.nav{
  margin: 10px;
  text-align: center;
  background-attachment: fixed;
  background-color: black;
  color: whitesmoke;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}
main{
  margin: 10px;
  background-color: beige;
  background: forestgreen;
  text-align: center;
  color: whitesmoke;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1;
 
}
body{
  background-image: rgb(91, 171, 196);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.foot{
  background-color: aqua;
  text-align: center;
  color: whitesmoke;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  bottom: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer{
  position: sticky;
  }

.head{
  top:0;
}

header,
nav,
main,
footer{
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}























