
div{
    height:  200px;
    width: 200px;
    border: 1px solid gray;
    transition: all 0.4s ease;
}
#generate{
    border-radius: 10px;
    border: 2px solid grey;
    color: yellowgreen;
    width: 250px;
    height: 60px;
}
.slider {
			width: 100%;
			height: 500px;
			overflow: hidden;
			position: relative;
		}

		.slide {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			transition: opacity 1s ease-in-out;
		}

		.slide.active {
			display: block;
			opacity: 1;
		}

		.slide img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.prev, .next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 30px;
			font-weight: bold;
			color: #fff;
			cursor: pointer;
		}

		.prev {
			left: 20px;
		}

		.next {
			right: 20px;
		}
